body{
    background: white;
    width: 400px;
}

.container{
    text-align: center;
}

button{
    background: dodgerblue;
    color: white;
    letter-spacing: 1px;
    padding: 5px 10px;
    border: 0;
    width: 100px;
}
